// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.info{
  float: right;
  cursor: pointer;
  color: #5CB85C;
}

.info:hover {
  color: #449D44;
}