:ruby
  data = grid(@product_images, show_filters: :no) do |g|
    g.blank_slate  do
      "There are no records"
    end
    g.column name: 'ID', attribute: 'id' do |task|
      task.id
    end
    g.column name: 'Image', attribute: 'image_file_name' do |task|
      image_tag task.image, class: 'product-image'
    end
    if @product.blank?
      g.column name: 'Product', attribute: 'product_id' do |task|
        task.product.name
      end
    end
    if @category.blank?
      g.column name: 'Category', attribute: 'category_id' do |task|
        task.category_id.blank? ? '---' : task.category.name
      end
    end
    g.column name: 'Created By', attribute: 'admin_id' do |task|
      task.admin.try(:name)
    end
    g.column name: 'Created At', attribute: 'created_at' do |task|
      date_format(task.created_at)
    end
    if current_admin.role == 'super_admin'
      g.column name: 'Option' do |task|
        "#{link_to('Edit', edit_product_product_image_path(task.product, task))} | #{link_to('Delete', product_product_image_path(task.product, task), method: 'delete', data: {confirm:'Are you sure?'})}".html_safe
      end
    end
  end
= data