// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
  width:70%;
  margin:auto;

  td, th {
   padding:10px !important;
  }
}
.main_container {
  padding: 60px 30px;
}
